@media (prefers-color-scheme: dark) {
	* {
		scrollbar-color: #005c97 #ececec;
	}

	::-webkit-scrollbar-thumb {
		background: #005c97;
	}

	::-webkit-scrollbar-track {
		background: #ececec;
	}

	body,
	.form-control,
	.form-control:focus,
	.form-select,
	.form-select:focus,
	.page-link {
		background-color: #000000 !important;
	}

	.dataTables_processing.card {
		background-color: #005c97 !important;
	}

	.loader {
		border-top: 0.5rem solid #f5f5f5;
	}

	.white-container,
	.form-container,
	.modal-content {
		background: #141619;
	}

	.page-item.active .page-link,
	.page-item.active .page-link:hover,
	.page-item.active .page-link:focus {
		background-color: #0b5ed7 !important;
		color: #f5f5f5 !important;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	span.app-title,
	.navbar-nav li.nav-item > a.nav-link,
	.form-label,
	.form-control,
	.form-control:focus,
	.form-select,
	.form-select:focus,
	.modal-header,
	pre,
	#api_logs_length label,
	#webhooks_tbl_length label,
	#api_logs_info,
	#webhooks_tbl_info,
	.modal-body span,
	footer span,
	footer span a,
	footer span a:hover {
		color: #f5f5f5 !important;
	}

	.navbar-nav li.nav-item > a.nav-link:hover {
		background: #f5f5f5;
	}

	.placeholder-img,
	.form-control {
		border-color: #f5f5f5;
	}

	thead {
		background: unset;
	}

	tbody,
	td,
	tfoot,
	th,
	thead,
	tr,
	table.table-bordered.dataTable thead th {
		border-color: #f5f5f5 !important;
		color: #f5f5f5 !important;
	}
}
