.curl_type,
.curl_timestamp {
	width: 12rem !important;
}

.curl_file {
	width: 5rem !important;
}

.curl_app,
.curl_portal,
.curl_origin,
.curl_method {
	width: 4rem !important;
}

.curl_url,
.curl_payload,
.curl_response {
	width: 5rem !important;
}

.curl_http_code {
	width: 3rem !important;
}

td.curl_url,
td.curl_payload,
td.curl_response {
	word-break: break-all;
}

td {
	text-align: center;
}

.status-100-200,
.status-200-300,
.status-300-400,
.status-400-500 {
	font-size: 1rem;
	font-weight: 500;
}

.status-100-200 {
	color: #808080;
}

.status-200-300 {
	color: #07c007;
}

.status-300-400 {
	color: #10107a;
}

.status-400-500 {
	color: #ff0000;
}

@media screen and (max-width: 953px) {
	.curl_app,
	.curl_file,
	.curl_http_code,
	.curl_method,
	.curl_origin,
	.curl_payload,
	.curl_portal,
	.curl_response,
	.curl_timestamp,
	.curl_url,
	.curl_type {
		width: auto !important;
	}
}

@media screen and (max-width: 455px) {
	td.curl_file {
		word-break: break-all;
	}
}
