@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600;700;800&display=swap");

td {
	text-align: center;
}

.webhook_type,
.webhook_timestamp,
.webhook_modified {
	width: 6rem !important;
}

.webhook_app,
.webhook_portal,
.webhook_source,
.webhook_file,
.webhook_payload,
.webhook_status {
	width: 3.5rem !important;
}

.status-span {
	padding: 0.25rem 0.75rem;
	text-transform: uppercase;
	border-radius: 2rem;
	color: white;
	font-weight: bold;
}

@media screen and (max-width: 953px) {
	.webhook_app,
	.webhook_type,
	.webhook_portal,
	.webhook_source,
	.webhook_file,
	.webhook_payload,
	.webhook_status,
	.webhook_timestamp,
	.webhook_modified {
		width: auto !important;
	}
}
