@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600;700;800&display=swap");

* {
	scroll-behavior: smooth;
	scrollbar-width: thin;
	scrollbar-color: #605c5c #e1e1e1;
	box-sizing: border-box;
}

body {
	font-family: "Fira Sans", Arial, Helvetica, sans-serif;
	background: #f5f8fa;
	transition: 0.5s all ease;
}

::-webkit-scrollbar {
	width: 0.625rem;
	height: 0.625rem;
}

::-webkit-scrollbar-thumb {
	background: #605c5c;
}

::-webkit-scrollbar-track {
	background: #e1e1e1;
}

::placeholder {
	font-weight: 600 !important;
	font-size: 0.875rem;
	font-size: clamp(0.875rem, 0.875rem + 0.125vw, 1rem);
}

::-webkit-input-placeholder {
	font-weight: 600 !important;
	font-size: 0.875rem;
	font-size: clamp(0.875rem, 0.875rem + 0.125vw, 1rem);
}

::-moz-placeholder {
	font-weight: 600 !important;
	font-size: 0.875rem;
	font-size: clamp(0.875rem, 0.875rem + 0.125vw, 1rem);
}

:-moz-placeholder {
	font-weight: 600 !important;
	font-size: 0.875rem;
	font-size: clamp(0.875rem, 0.875rem + 0.125vw, 1rem);
}

::-ms-input-placeholder {
	font-weight: 600 !important;
	font-size: 0.875rem;
	font-size: clamp(0.875rem, 0.875rem + 0.125vw, 1rem);
}

:-ms-input-placeholder {
	font-weight: 600 !important;
	font-size: 0.875rem;
	font-size: clamp(0.875rem, 0.875rem + 0.125vw, 1rem);
}

.preloader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background-color: #feffff;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 1;
	transition: opacity 0.5s ease-in-out, z-index 0.5s ease-in-out;
}

.preloader.hide {
	opacity: 0;
	z-index: -1;
}

.preloader img {
	width: 128px;
	height: 128px;
}

body.preloading {
	overflow: hidden;
}

.loading {
	padding: 1rem;
	background: url('../assets/loader.gif') no-repeat center center;
}

main {
	padding: 1rem 0.25rem;
}

@-webkit-keyframes fade-in {
	from {
		visibility: hidden;
		opacity: 0;
	}

	to {
		visibility: visible;
		opacity: 1;
	}
}

@keyframes fade-in {
	from {
		visibility: hidden;
		opacity: 0;
	}

	to {
		visibility: visible;
		opacity: 1;
	}
}

.notification {
	align-items: center;
	background-clip: padding-box;
	box-shadow: none;
	display: flex;
	font-weight: 500;
	margin: 15.5px 0;
	opacity: 0;
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	visibility: hidden;
	z-index: 99;
}

.notification-body {
	padding: 0.75rem 0.875rem;
}

.notification .btn-close {
	margin: auto;
	margin-right: 0.75rem;
	padding: 0.25em 0;
	opacity: 0.75;
}

.notification.show {
	animation: fade-in 0.5s ease-in-out forwards,
		fade-in 0.5s ease-in-out reverse forwards 3s;
}

.white-container,
.form-container {
	background: #feffff;
	border-radius: 0.5rem;
}

.white-container {
	padding: 0.875rem;
}

.logo {
	width: 100%;
	max-width: 3rem;
	border-radius: 0.375rem;
}

.navbar {
	padding: 0.5rem 0.25rem;
	background: #10107a !important;
}

/* 30cff2 */

.navbar-dark .navbar-nav .nav-link {
	color: #feffff !important;
}

.navbar-brand .app-title {
	line-height: normal;
	margin-left: 0.5rem !important;
	color: #feffff;
}

.navbar-brand .app-title .org-info {
	font-weight: 500;
	font-size: 0.875rem;
}

a.org-info {
	font-weight: 500;
	font-size: 0.875rem;
	text-decoration: none;
	color: #feffff;
}

a.org-info:hover {
	cursor: pointer;
}

.navbar-light .navbar-toggler {
	border-color: rgba(0, 0, 0, 0.25);
}

.navbar-toggler {
	padding: 0.25rem 0.5rem !important;
}

.navbar-toggler:focus {
	box-shadow: 0 0 0 0.125rem !important;
}

.navbar-nav li.nav-item {
	border-radius: 0.375rem !important;
}

.navbar-nav .nav-link {
	padding: 0.5rem 0.75rem !important;
}

.navbar-nav li.nav-item > a.nav-link {
	border-radius: 0.375rem;
	color: #feffff;
	margin-left: 0.5rem !important;
	transition: 0.5s all ease;
}

.navbar-nav li.nav-item:first-child > a.nav-link {
	margin-left: 0 !important;
}

.navbar-nav li.nav-item > a.nav-link:hover,
.navbar-nav li.nav-item > a.nav-link.active {
	color: #10107a !important;
	background-color: #feffff !important;
	transition: 0.5s all ease !important;
}

.navbar-nav li.nav-item:last-child > a.nav-link:hover {
	color: #feffff !important;
	background-color: crimson !important;
	transition: 0.5s all ease;
}

.form-container {
	padding: 1.25rem;
}

.placeholder-img {
	padding: 0.25rem;
	border: 0.125rem solid var(--bs-border-color);
	border-radius: 50%;
	width: 100%;
	max-width: 12rem !important;
	margin: 0 0 2rem;
}

.modal-dialog {
	margin: 4rem auto !important;
	max-width: 66.67%;
}

.modal-dialog .btn {
	text-transform: uppercase;
}

.modal-header {
	padding: 0.75rem !important;
	border-top-left-radius: 0.375rem !important;
	border-top-right-radius: 0.375rem !important;
}

.modal-title {
	line-height: 1;
}

.modal-header .btn-danger {
	padding: 0.325rem 0.625rem !important;
}

.modal-content {
	border-radius: 0.375rem !important;
	border: 0 !important;
}

.modal-body {
	padding: 0.75rem !important;
	max-height: 40rem !important;
}

.modal-footer {
	padding: 0.75rem !important;
}

pre {
	font-family: "Fira Code", monospace, sans-serif;
	font-size: 0.75rem;
	font-size: clamp(0.75rem, 0.725rem + 0.125vw, 0.875rem);
	font-weight: 600;
	line-height: normal;
	margin: 0;
	max-height: 36rem;
	overflow: auto;
	padding: 0 0.375rem 0.375rem 0;
}

pre::-webkit-scrollbar,
input::-webkit-scrollbar,
textarea::-webkit-scrollbar {
	width: 0.375rem;
	height: 0.375rem;
	border-radius: 2rem;
}

pre::-webkit-scrollbar-thumb,
input::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb {
	width: 0.375rem;
	height: 0.375rem;
	border-radius: 2rem;
}

pre::-webkit-scrollbar-track,
input::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-track {
	width: 0.375rem;
	height: 0.375rem;
	border-radius: 2rem;
}

table {
	font-size: 0.875rem !important;
}

ul.pagination {
	margin: 0 !important;
}

.page-link {
	color: #0d6efd;
	font-size: 0.875rem;
	font-weight: 700;
	border-width: 0.125rem;
	border-radius: 0.375rem !important;
	margin-left: 0.5rem !important;
	padding: 0.5rem 1rem !important;
	transition: 0.5s all ease;
}

.page-link:focus {
	outline: none;
	background-color: transparent !important;
	border-color: #0d6efd;
	transition: 0.5s all ease;
}

.page-link:hover {
	z-index: 2 !important;
	color: #feffff !important;
	transition: 0.5s all ease;
}

.page-link.active,
.page-link:hover,
.page-item.active .page-link,
.page-item.active .page-link:hover {
	background-color: #0d6efd !important;
	border-color: #0d6efd !important;
}

.form-select,
.form-control {
	padding: 0.625rem !important;
	border-width: 0.125rem !important;
	transition: 0.5s all ease;
}

.form-control.form-control-lg {
	padding: 0.5rem 1rem !important;
}

input[type="file"]::file-selector-button,
input[type="file"]::-webkit-file-upload-button {
	background: #005c97;
	border-bottom-left-radius: 0.375rem;
	border-top-left-radius: 0.375rem;
	color: #feffff;
	cursor: pointer;
}

.form-select {
	padding-right: 2.25rem !important;
}

.btn,
.form-select,
.form-control,
label,
footer {
	font-size: 0.875rem;
	font-size: clamp(0.875rem, 0.875rem + 0.125vw, 1rem);
}

.form-select,
.form-control,
option {
	font-weight: 500;
}

.form-label {
	font-size: 0.875rem;
	font-size: clamp(0.875rem, 0.875rem + 0.125vw, 1rem);
	text-transform: uppercase;
	font-weight: 600;
}

.form-control:focus,
.form-control:hover,
.form-select:focus,
.form-select:hover {
	transition: 0.5s all ease !important;
}

.form-control.is-valid:focus,
.form-control:valid:focus,
.form-select.is-valid:focus,
.form-select:valid:focus,
.form-control.is-invalid:focus,
.form-control:invalid:focus,
.form-select.is-invalid:focus,
.form-select:invalid:focus {
	box-shadow: unset !important;
}

.form-control:focus:not(.is-valid, .is-invalid),
.form-control:hover:not(.is-valid, .is-invalid),
.form-select:focus:not(.is-valid, .is-invalid),
.form-select:hover:not(.is-valid, .is-invalid) {
	border-color: #005c97;
}

.hidden-div {
	z-index: -999;
	display: none;
	opacity: 0;
}

.select2-container--default {
	width: 100% !important;
}

.select2-selection__choice {
	margin: 0 !important;
}

.select2-container--default .select2-selection--multiple {
	border-radius: 0.375rem !important;
	border-color: #ced4da !important;
}

.select2-container--default .select2-selection--multiple:hover,
.select2-container--default .select2-selection--multiple:focus {
	outline: none !important;
	box-shadow: none !important;
	border-color: #0b5ed7 !important;
	transition: 0.5s all ease !important;
}

.select2-container .select2-search--inline .select2-search__field,
.select2-container--default .select2-selection--multiple {
	margin: 0 !important;
}

.select2-container--default
	.select2-selection--multiple
	.select2-selection__choice {
	margin-right: 4px !important;
	max-height: 24px !important;
}

.select2-container--default
	.select2-selection--multiple
	.select2-selection__choice:last-child {
	margin-right: 0 !important;
}

.select2-container--default.select2-container--focus
	.select2-selection--multiple {
	border-color: #0b5ed7 !important;
}

.select2-results__option {
	padding: 0.625rem !important;
	font-weight: 500 !important;
}

.select2-container--default
	.select2-results__option--highlighted.select2-results__option--selectable {
	background-color: #0b5ed7 !important;
}

.btn {
	font-weight: 700;
	padding: 0.5rem 0.875rem;
}

#btn-back-to-top {
	bottom: 96px;
	box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
		rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
		rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
	display: none;
	font-size: 20px;
	padding: 5px 10px !important;
	position: fixed;
	right: 16px;
	z-index: 5;
}

.btn:not(#btn-back-to-top) {
	transition: 0.5s all ease !important;
}

.btn:focus-visible,
.page-link:focus {
	box-shadow: unset;
}

.filter-btn {
	padding: 0.5rem 0.75rem;
}

.success-code,
.error-code {
	font-weight: 500;
	font-size: 1rem;
}

i.success-code,
i.error-code {
	font-size: 1.5rem;
}

td.success-code,
td.error-code {
	font-size: 1rem;
}

.success-code {
	color: #07c007 !important;
}

.error-code {
	color: #ff0000 !important;
}

textarea {
	resize: none;
	overflow-y: auto;
	cursor: text;
}

.req {
	color: #ff0000 !important;
	font-size: 0.875rem;
	font-weight: 800;
}

.alert {
	padding: 0.875rem;
	transition: 0.5s all ease;
	border-width: 0.125rem !important;
}

.alert-danger {
	color: #8b0000 !important;
}

.modal-body > .alert {
	font-weight: bold;
	margin: 0;
	padding: 0.75rem;
}

.tooltip-inner {
	max-width: 17.5rem;
	padding: 0.375rem !important;
	font-size: 0.875rem;
	border-radius: 0.375rem;
}

.tooltip-inner ul,
.tooltip-inner ol {
	padding-left: 1.5rem;
	margin-bottom: 0.5rem;
}

.tooltip-inner li {
	padding: 0.25rem 0;
	line-height: 1;
}

.tooltip-inner li:first-of-type {
	padding-top: 0;
}

.tooltip-inner li:last-of-type {
	padding-bottom: 0;
}

.iti {
	display: block !important;
}

.iti__selected-flag {
	padding: 0 8px !important;
}

.iti__arrow {
	margin: 0 !important;
}

.iti__flag {
	box-shadow: 0px 0px 4px 0px #888 !important;
}

.iti__country-list {
	max-height: 256px !important;
}

.iti__flag-box,
.iti__country-name {
	margin-right: 0.5rem !important;
}

.iti__country {
	padding: 4px 10px !important;
}

.iti--separate-dial-code .iti__selected-dial-code {
	margin: 0 0.5rem !important;
	font-weight: 600 !important;
	font-size: 0.875rem;
	font-size: clamp(0.875rem, 0.875rem + 0.125vw, 1rem);
}

#phone {
	padding-left: 5.5rem !important;
}


footer {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.75rem 1rem;
}

footer span,
footer span a,
footer span a:hover {
	color: black;
}

@media screen and (max-width: 996px) {
	.navbar-nav .nav-link {
		padding: 0.5rem 0.75rem !important;
	}

	.navbar-nav li.nav-item:first-of-type > a.nav-link {
		margin-left: 0 !important;
		margin-top: 0.5rem !important;
	}

	.navbar-nav li.nav-item > a.nav-link {
		margin-left: 0 !important;
		margin-top: 0.25rem !important;
	}
}

@media screen and (max-width: 400px) {
	.modal-dialog {
		max-width: 90%;
	}
}

@media screen and (max-width: 400px) {
	footer {
		padding: 0.5rem;
		flex-direction: column;
	}

	.footer-copyright {
		order: 1;
		margin-top: 0.5rem;
	}

	.footer-link {
		order: 0;
	}
}
